page-profile {

    .content {
        text-align:center
    }
    
    .cards {
        border-radius: 20px;
        margin-bottom: 30px;
    }

    .amount {
        float: left;
        color: green;
        font-size: 30px;
        font-family: 'Raleway';
    }

    .date {
        color: grey;
    }

}
