page-settings {
    .logout {
        background-color: darkred;
        width: 150px;
        color: white;
        height: 50px;
        margin: 30px auto;
        border-radius: 40px;
        display: block;
    }
}
