page-charitypage {
    .logo {
        display: block;
        margin: 0 auto;
    }

    .name {
        text-align: center;
        margin-bottom: 50px;
    }

    .aboutcard {
        height: 250px;
    }

    .bigbutton {
        color: white;
    }
}
